@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is an application developed to test ASP.NET Core (version 2.1), code first concept, 
    Entity Framework migrations, and Github.</p>

<p>The application was created using Visual Studio 2017 and SQL Server Express LocalDB (2017).
    Chosing to use a somewhat outdated version of ASP.NET Core was done as to match that of an application
    that is being maintained and for which the tests were done.</p>
